common/test_rearr_utility.py
common/permute_apply_test.py
experiments_reproduction/paper_datasets/binary_speech_commands_4096/*
experiments_reproduction/paper_datasets/speech_commands_dim_2048_downsized/*
experiments_reproduction/paper_datasets/speech_commands_dim_50000/*
experiments_reproduction/paper_datasets/cifar10/*
experiments_reproduction/paper_datasets/cifar10_binary/*
experiments_reproduction/paper_datasets/dna/*
experiments_reproduction/paper_datasets/isolet/*
experiments_reproduction/paper_datasets/semeion/*
experiments_reproduction/cache_dirs/figure_5_cache_dir/*
experiments_reproduction/cache_dirs/figure_4_cache_dir/*
experiments_reproduction/cache_dirs/figure_8_cache_dir/*
experiments_reproduction/cache_dirs/table_1_cache_dir/*
experiments_reproduction/cache_dirs/table_3_cache_dir/*
experiments_reproduction/cache_dirs/table_4_cache_dir/*
experiments_reproduction/cache_dirs/table_2_dna_cache_dir/*
experiments_reproduction/cache_dirs/table_2_isolet_cache_dir/*
experiments_reproduction/cache_dirs/table_2_semeion_cache_dir/*
experiments_reproduction/figure_4_reproduction.ipynb
experiments_reproduction/figure_8_reproduction.ipynb
experiments_reproduction/table_1_reproduction.ipynb
experiments_reproduction/table_3_reproduction.ipynb
experiments_reproduction/table_2_dna_reproduction.ipynb
experiments_reproduction/figure_4_multi_seed.py
experiments_reproduction/figure_5_multi_seed.py
experiments_reproduction/figure_8_multi_seed.py
experiments_reproduction/table_1_multi_seed.py
experiments_reproduction/table_3_multi_seed.py
experiments_reproduction/table_4_sparsification.py
experiments_reproduction/table_2_dna_multi_seed.py
experiments_reproduction/table_2_isolet_multi_seed.py
experiments_reproduction/table_2_semeion_multi_seed.py
experiments_reproduction/run_multi_seed_parallel_1.sh
experiments_reproduction/run_multi_seed_parallel_2.sh
experiments_reproduction/run_multi_seed_parallel_3.sh
experiments_reproduction/run_multi_seed_parallel_4.sh
























